<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cook With Leftovers</title>
    <link rel="stylesheet" href="C:\Users\macie\Projects\CookWithLeftovers\src\main\webapp\static/style.css">
</head>
<body>
    <div class="container">
        <h1>Cook With Leftovers</h1>
        <p>Znajdź przepisy z wykorzystaniem składników, które posiadasz!</p>
        <div class="buttons">
            <button onclick="window.location.href='../templates/login.html'">Login</button>
            <button onclick="window.location.href='../templates/register.html'">Register</button>
        </div>
    </div>
</body>
</html>
